.containNav{
  width: 100%;
  margin-bottom: 150px;
  padding: 0 3%;
}
.containNav a{
  width: 100%;
}
#optionNav {
  color: #dddc00;
}


/*estilos tabla registros*/
.contTable {
  width: 90%;
  margin-bottom: 50px;
  border: 1px solid #000000;
  border-radius: 1%;
}
.panelTable{
  padding: 1% 3%;
}
.panelTable h3{
  width: 20%;
  margin: 0;
  float: left;
}

#filterAlumno{
  width: 20%;
  float: right;
  border-radius: 10%;
}

tbody {
  display:block;
  height:400px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}

/*estilos tabla registros*/
