<div class="maxContain">

<nav class="containNav">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a id="optionNav" class="navbar-brand" href="#">Federación Costarricense de Taekwondo</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="dropdown nav navbar-nav navbar-right">
          <li class="active"><a href="./" class="glyphicon glyphicon-bell"></a></li>
          <li class="dropdown">
            <a id="optionNav" href="" class="dropdown-toggle" data-toggle="dropdown">Profesor <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a id="optionNav" href="#">Cerrar Sesion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section class="regStudent">
  <h2>Registrar alumnos</h2>

  <form name="frmInstru" ng-submit="vm.save(vm.student)" novalidate autocomplete="off">

  <!-- input -->
    <div class="">
      <label>Cedula</label>
      <input class="" type="text" ng-model="vm.student.id" name="id" required>
    </div>
    <!-- <div ng-messages="frmEvent.name.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div> -->

    <!-- input -->
    <div class="">
      <label>Nombre</label>
      <input class="" type="text" ng-model="vm.student.name" name="name" required>
    </div>

    <div class="">
      <label>Segundo Nombre</label>
      <input class="" type="text" ng-model="vm.student.secondName" name="secondName" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Primer Apellido</label>
      <input class="" type="text" ng-model="vm.student.lastName" name="lastName" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Segundo Apellido</label>
      <input class="" type="text" ng-model="vm.student.secLastName" name="secLastName" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Fecha nacimiento</label>
      <input class="" type="date" ng-model="vm.student.birthdate" name="birthdate" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Telefono</label>
      <input class="" type="text" ng-model="vm.student.phone" name="phone" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Email</label>
      <input class="" type="text" ng-model="vm.student.email" name="email" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Foto</label>
      <input class="" type="text" ng-model="vm.student.photo" name="photo" required>
    </div>


    <!-- input -->
    <div class="">
      <label>Edad</label>
      <input class="" type="text" ng-model="vm.student.age" name="age" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Peso</label>
      <input class="" type="text" ng-model="vm.student.weigth" name="weigth" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Torneos Participados</label>
      <input class="" type="text" ng-model="vm.student.tournParti" name="tournParti" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Cinta</label>
      <input class="" type="text" ng-model="vm.student.belt" name="belt" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Categoria</label>
      <input class="" type="text" ng-model="vm.student.category" name="category" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Torneos Ganados</label>
      <input class="" type="text" ng-model="vm.student.tournWon" name="tournWon" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Academia</label>
      <input class="" type="text" ng-model="vm.student.academy" name="academy" required>
    </div>

    <!-- input -->
    <div class="">
      <label>Profesor</label>
      <input class="" type="text" ng-model="vm.student.profesor" name="profesor" required>
    </div>


    <button type="submit" ng-click="vm.reset()" ng-disabled="frmInstru.$invalid">Registrar</button>
    <input  type="button" value="Actualizar" ng-click="vm.update(student)">

    </form>
</section>

<!-- <input id="filterAlumno"type="text" name="nameFilter" ng-model="ctrl.nameFilter"> -->



<!-- <div class="scrollable">

<table class="table table-striped header-fixed">
  <thead>
    <tr>
      <th>Cédula</th>
      <th>Nombre</th>
      <th>Segundo Nombre</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
      <th>Fecha Nacimiento</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Foto </th>
      <th>Edad</th>
      <th>Peso</th>
      <th>Torneos Participados</th>
      <th>Cinta</th>
      <th>Categoria</th>
      <th>Torneos Ganados</th>
      <th>Academia</th>
      <th>Profesor</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="student in vm.students | filter:ctrl.nameFilter">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.secondName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.secLastName}}</td>
      <td>{{student.birthdate | date}}</td>
      <td>{{student.phone}}</td>
      <td>{{student.email}}</td>
      <td>{{student.photo}}</td>
      <td>{{student.age}}</td>
      <td>{{student.weigth}}</td>
      <td>{{student.tournParti}}</td>
      <td>{{student.belt}}</td>
      <td>{{student.category}}</td>
      <td>{{student.tournWon}}</td>
      <td>{{student.academy}}</td>
      <td>{{student.profesor}}</td>
      <td><input type="button" value="Editar" ng-click="vm.getInfo(student)"></td>
    </tr>
  </tbody>
</table>
</div>

</div> -->

<div class="container contTable">
    <div class="row panelTable">
      <h3>ALUMNO</h3>
      <input id="filterAlumno"type="text" name="nameFilter" ng-model="ctrl.nameFilter" placeholder="Buscar">
    </div>

    <table class="table">
        <thead>
            <tr>
              <th>Cédula</th>
              <th>Nombre</th>
              <th>Segundo Nombre</th>
              <th>Primer Apellido</th>
              <th>Segundo Apellido</th>
              <th>Fecha Nacimiento</th>
              <th>Telefono</th>
              <th>Email</th>
              <th>Foto </th>
              <th>Edad</th>
              <th>Peso</th>
              <th>Torneos Participados</th>
              <th>Cinta</th>
              <th>Categoria</th>
              <th>Torneos Ganados</th>
              <th>Academia</th>
              <th>Profesor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <tr ng-repeat="student in vm.students | filter:ctrl.nameFilter">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.secondName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.secLastName}}</td>
                <td>{{student.birthdate | date}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.email}}</td>
                <td>{{student.photo}}</td>
                <td>{{student.age}}</td>
                <td>{{student.weigth}}</td>
                <td>{{student.tournParti}}</td>
                <td>{{student.belt}}</td>
                <td>{{student.category}}</td>
                <td>{{student.tournWon}}</td>
                <td>{{student.academy}}</td>
                <td>{{student.profesor}}</td>
                <td><input type="button" value="Editar" ng-click="vm.getInfo(student)"></td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>
