<div class="maxContain">

  <nav class="containNav">
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
          <a id="optionNav" class="navbar-brand" href="#">Federación Costarricense de Taekwondo</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="dropdown nav navbar-nav navbar-right">
            <li class="active"><a href="./" class="glyphicon glyphicon-bell" id="bellIcon"></a></li>
            <li class="dropdown">
              <a id="optionNav" href="" class="dropdown-toggle" data-toggle="dropdown">Profesor <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a id="optionDrop" href="#">Cerrar Sesion</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <h2>REGISTRO DE ALUMNOS</h2>

  <!-- <div ng-hide="true" ng-show="vm.save == true"></div> -->


  <section class="container regStudent">

    <form class="row frmInstru" name="frmInstru" ng-submit="vm.save(vm.student)" novalidate autocomplete="off">

      <div class="col-md-6 leftForm">
        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Cedula
          </label>
          <input class="col-md-5" type="text" ng-model="vm.student.id" name="id" ng-pattern="/^[0-9]{9,14}$/" required>
          <div ng-messages="frmInstru.id.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Nombre</label>
          <input class="col-md-5" type="text" ng-model="vm.student.name" name="name" required>
          <div ng-messages="frmInstru.name.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Segundo Nombre</label>
          <input class="col-md-5" type="text" ng-model="vm.student.secondName" name="secondName" required>
          <div ng-messages="frmInstru.secondName.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Primer Apellido</label>
          <input class="col-md-5" type="text" ng-model="vm.student.lastName" name="lastName" required>
          <div ng-messages="frmInstru.lastName.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Segundo Apellido</label>
          <input class="col-md-5" type="text" ng-model="vm.student.secLastName" name="secLastName" required>
          <div ng-messages="frmInstru.secLastName.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Fecha nacimiento</label>
          <input class="col-md-5" type="date" ng-model="vm.student.birthdate" name="birthdate" required>
          <div ng-messages="frmInstru.birthdate.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Telefono</label>
          <input class="col-md-5" type="text" ng-model="vm.student.phone" name="phone" required>
          <div ng-messages="frmInstru.phone.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Email</label>
          <input class="col-md-5" type="text" ng-model="vm.student.email" name="email" placeholder="usuario@dominio.com" pattern="([\w_-]+\@[\w_-]+\.[\w_-]+)"required>
          <div ng-messages="frmInstru.email.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>
      </div>


      <div class="col-md-6 rightForm">
        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Edad</label>
          <input class="col-md-5" type="number" min="1" max="100"ng-model="vm.student.age" name="age" required>
          <div ng-messages="frmInstru.age.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Peso</label>
          <input class="col-md-5" type="number" ng-model="vm.student.weigth" name="weigth" required>
          <div ng-messages="frmInstru.weigth.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Torneos Participados</label>
          <input class="col-md-5" type="number" ng-model="vm.student.tournParti" name="tournParti" required>
          <div ng-messages="frmInstru.tournParti.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Cinta</label>
          <input class="col-md-5" type="text" ng-model="vm.student.belt" name="belt" required>
          <div ng-messages="frmInstru.belt.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Categoria</label>
          <input class="col-md-5" type="text" ng-model="vm.student.category" name="category" required>
          <div ng-messages="frmInstru.category.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Torneos Ganados</label>
          <input class="col-md-5" type="number" ng-model="vm.student.tournWon" name="tournWon" required>
          <div ng-messages="frmInstru.tournWon.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Academia</label>
          <input class="col-md-5" type="text" ng-model="vm.student.academy" name="academy" required>
          <div ng-messages="frmInstru.academy.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>

        <!-- input -->
        <div class="col-md-12 form-group">
          <label class="col-md-offset-1 col-md-4">Profesor</label>
          <input class="col-md-5" type="text" ng-model="vm.student.profesor" name="profesor" required>
          <div ng-messages="frmInstru.profesor.$error">
            <div ng-messages-include="components/includes/messages.html"></div>
          </div>
        </div>
      </div>

      <div id="leyend">
        <h4>* = Datos requeridos</h2>
      </div>

      <div class="contButtons">
        <button class="pull-right" id="buttonReg" type="submit" ng-click="vm.reset()" ng-disabled="frmInstru.$invalid">Registrar</button>
        <input class="pull-right" id="buttonReg" type="button" value="Actualizar" ng-click="vm.update(student)">
      </div>

    </form>
  </section>

  <div class="container contTable">
    <div class="row panelTable">
      <h3>ALUMNOS</h3>
      <input id="filterAlumno" type="search" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar">
    </div>

    <table class="table">
      <thead id="tHead">
        <tr id="lineTh">
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Fecha Nacimiento</th>
          <th>Telefono</th>
          <th>Email</th>
          <th>Edad</th>
          <th>Peso</th>
          <th>Torneos Participados</th>
          <th>Cinta</th>
          <th>Categoria</th>
          <th>Torneos Ganados</th>
          <th>Academia</th>
          <th>Profesor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr id="lineTd" ng-repeat="student in vm.students | filter:vm.nameFilter">
          <td>{{student.id}}</td>
          <td>{{student.name}}</td>
          <td>{{student.secondName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.secLastName}}</td>
          <td>{{student.birthdate | date}}</td>
          <td>{{student.phone}}</td>
          <td>{{student.email}}</td>
          <td>{{student.age}}</td>
          <td>{{student.weigth}}</td>
          <td>{{student.tournParti}}</td>
          <td>{{student.belt}}</td>
          <td>{{student.category}}</td>
          <td>{{student.tournWon}}</td>
          <td>{{student.academy}}</td>
          <td>{{student.profesor}}</td>
          <td><input type="button" value="Editar" ng-click="vm.getInfo(student)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
