<section class="containSponsor">
<h2>REGISTRO DE PATROCINADORES</h2>

<div class="row">

  <form name="frmSponsor" ng-submit="vm.presave(vm.sponsor)" novalidate autocomplete="off">

    <div class="formLeft col-md-offset-2 col-md-4">

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Nombre</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.sponsor.name" name="name" required>
        <div ng-messages="frmSponsor.name.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

       <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Tipo de patrocinador</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.sponsor.typeSponsor" name="typeSponsor" required>
          <option value="">---Indique el tipo de patrocinio---</option>
          <option value="monetario">Monetario</option>
          <option value="equipo">Equipo</option>
          <option value="alimentación">Alimentación</option>
        </select>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Tipo de moneda</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.sponsor.typeCoin" name="typeCoin">
          <option value="">---Indique el tipo de patrocinio---</option>
          <option value="colones ">Colones </option>
          <option value="dolares">Dólares</option>
        </select>
      </div>

    </div>

    <div class="formRight col-sm-7 col-md-4">

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Productos de alimentación</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.sponsor.foodProducts" name="foodProducts">
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Cantidad productos de alimentación</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.sponsor.quantityFood" name="quantityFood">
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Equivalencia de los productos de alimentación</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.sponsor.equivalenceFood" name="equivalenceFood">
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Cuáles equipos fue patrocinado</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.sponsor.equipment" name="Equipment">
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Cantidad equipos fue patrocinado</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.sponsor.quantityEquipment" name="costRegistration">
      </div>
    
      <div>
        <label>Photo</label>
        <input type="file" ng-model="vm.sponsor.photo" name="photo" id="photo">
      </div>

    </div>

    <div class="col-xs-12">
      <h4 class="col-md-offset-7 col-md-2">* = Datos requeridos</h4>
    </div>

    <div class="col-md-12">
      <div class="col-md-6"></div>
      <button class="col-md-1" type="button" value="Actualizar" ng-click="vm.update(sponsor)" id="buttonAct">Actualizar</button>
      <button class="col-md-1" type="submit" ng-click="vm.reset()" ng-disabled="frmSponsor.$invalid" id="buttonReg">Registrar</button>
    </div>

  </form>

</div>


<!--Tabla de registros   -->

<div class="container contTable">
  <div class="row panelTable">
    <h3>PATROCINADPRES</h3>
    <input id="filterSponsor" type="search" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar">
  </div>

  <table class="table">
    <thead id="tHead">
      <tr id="lineTh">
        <th>Nombre</th>
        <th>Tipo de patrocinador</th>
        <th>Tipo de moneda</th>
        <th>Productos de alimentación</th>
        <th>Cantidad productos de alimentación</th>
        <th>Equivalencia de los productos de alimentación</th>
        <th>Cuáles equipos fue patrocinado</th>
        <th>Cantidad equipos fue patrocinado</th>
        <th>Producto de patrocinio</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr id="lineTd" ng-repeat="sponsor in vm.sponsors | filter:vm.nameFilter">
        <td>{{sponsor.name}}</td>
        <td>{{sponsor.typeSponsor}}</td>
<!--         <td>{{sponsor.photo}}</td> -->
        <td>{{sponsor.typeCoin}}</td>
        <td>{{sponsor.foodProducts}}</td>
        <td>{{sponsor.quantityFood}}</td>
        <td>{{sponsor.equivalenceFood}}</td>
        <td>{{sponsor.equipment}}</td>
        <td>{{sponsor.quantityEquipment}}</td>
        <td><img ng-src="{{user.photo}}" alt="Description" width="40px" height="60px" /></td>
        <td><input type="button" value="Editar" ng-click="vm.getInfo(sponsor)"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
