<section id="login" class="loginImage">
	<form name="formLogIn" ng-submit="vm.login(vm.user)" class="col-md-8 col-md-offset-1">

		<h2>¡Comienza la aventura!</h2>

			<!-- Campo Correo Electrónico -->
			<md-input-container flex-offset class="md-block">
	        	<label>Correo Electrónico</label>
	        	<input required type="email" name="clientEmail" ng-model="vm.user.email"
	                />
				<!-- Mensaje de retroalimentacion -->
		        <div ng-messages="loginForm.clientEmail.$error" role="alert">
		          <div ng-message-exp="['required']">
		            Correo electrónico no válido
		          </div>
		        </div>
	      	</md-input-container>

	      	<!-- Campo contraseña -->
	      	<md-input-container flex-offset class="md-block">
	        	<label>Contraseña</label>
	        	<input required type="password" name="password" ng-model="vm.user.password"/>
				<!-- Mensaje de retroalimentacion -->
		        <div ng-messages="loginForm.clientEmail.$error" role="alert">
		          <div ng-message-exp="['required', 'minlength', 'maxlength']">
		            Ingrese una contraseña
		          </div>
		        </div>
	      	</md-input-container>

          <!-- opction -->
          <div class="form-group">

            <div class="row" id="option">
              <input class="col-md-1" type="checkbox" name="remenber" value="">
              <p class="col-md-5">Recordar usuario</p>
              <a class="col-md-6" href="#">Recuperar contraseña</a>
            </div>

          </div>
	      	<!-- Boton -->
			<button type="submit" class="btn btn-primary btn-lg" id="btnLogin" ng-click="formLogIn.$setPristine()">Iniciar Sesión</button>

	</form>
</section>
