<section class="containEvent">
<h2>REGISTRO EVENTOS FOGUEO</h2>

<div class="row">

  <form name="frmEventFogueo" ng-submit="vm.save(vm.eventFogueo)" novalidate autocomplete="off">

    <div class="col-md-offset-2 col-md-4">

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Nombre</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventFogueo.name" name="name" required>
        <div ng-messages="frmEventFogueo.name.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>
      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Teléfono</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventFogueo.phone" name="phone" required ng-pattern="/^[0-9]{8}$/">
        <div ng-messages="frmEventFogueo.phone.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Estado del evento</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventFogueo.stateEvent" name="stateEvent" required>
        <div ng-messages="frmEventFogueo.stateEvent.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Fecha de inicio</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="date" ng-model="vm.eventFogueo.startDate" name="startDate" required>
        <div ng-messages="frmEventFogueo.startDate.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Fecha de finalizado</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="date" ng-model="vm.eventFogueo.endDate" name="endDate" required>
        <div ng-messages="frmEventFogueo.endDate.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
       <div class="col-md-12">
        <h6 class="col-md-4">Categorías</h6>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Género</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.eventFogueo.gender" name="gender" required>
          <option value="">---Indique la género---</option>
          <option value="male">Masculino</option>
          <option value="female">Femenino</option>
          <option value="undefined">Indefinido</option>
          </select>
        <div ng-messages="frmEventFogueo.gender.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Edad</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.eventFogueo.age" name="age" required>
          <option value="">---Indique la edad---</option>
          <option value="junior">Infantil o Junior (4-11 años)</option>
          <option value="cadet">Cadete (12-16 años)</option>
          <option value="elite">Élite (17-23 años)</option>
          <option value="senior">Senior (23 años o más)</option>
        </select>
        <div ng-messages="frmEventFogueo.age.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Peso</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.eventFogueo.weight" name="weight" required>
          <option value="">---Indique el peso---</option>
          <option value="junior">il-Yang(pluma, 51kg)</option>
          <option value="cadet">i-Yang (gallo, 52 kg a 59 kg)</option>
          <option value="elite">o-Yang (Supergallo, 60 kg a 65 kg)</option>
          <option value="seniorSan">sam-Yang (Wélter, 66 kg a 74 kg)</option>
          <option value="seniorSiu">siu-Yang (Wélter, 74 kg)</option>
        </select>
        <div ng-messages="frmEventFogueo.weight.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Organizaciones beneficas</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventFogueo.charities" name="charities">
        <div ng-messages="frmEventFogueo.charities.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

    </div>

    <div class="col-sm-6 col-md-4">

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Capacidad</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventFogueo.capacity" name="capacity" required>
        <div ng-messages="frmEventFogueo.capacity.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Horario</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventFogueo.schedule" name="schedule" required>
        <div ng-messages="frmEventFogueo.schedule.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Costo de inscripción</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventFogueo.costRegistration" name="costRegistration" required>
        <div ng-messages="frmEventFogueo.costRegistration.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Lugar</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventFogueo.place" name="place" required>
        <div ng-messages="frmEventFogueo.place.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Ubicación</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.eventFogueo.location" name="location" required>
        <div ng-messages="frmEventFogueo.location.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="col-xs-12 col-sm-12">
        <h6 class="col-md-4">Patrocinador</h6>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Marca</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.eventFogueo.brand" name="brand" required>
        <div ng-messages="frmEventFogueo.brand.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Empresa</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.eventFogueo.business" name="business" required>
        <div ng-messages="frmEventFogueo.business.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Tipo de patrocinador</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.eventFogueo.typeSponsor" name="typeSponsor" required>
        <div ng-messages="frmEventFogueo.typeSponsor.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Seleccione un archivo (Logo)</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.eventFogueo.selectFile" name="selectFile" required>
        <div ng-messages="frmEventFogueo.selectFile.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

    </div>

    <div class="col-xs-12">
      <p class="col-md-offset-5 col-md-7">* = Datos requeridos</p>
    </div>

    <div class="col-md-12">
      <div class="col-md-7"></div>
      <button class="col-md-1" type="button" value="Actualizar" ng-click="vm.update(eventFogueo)" id="buttonAct">Actualizar</button>
      <div class="col-md-1"></div>
      <button class="col-md-1" type="submit" ng-click="vm.reset()" ng-disabled="frmEventFogueo.$invalid" id="buttonAct">Registrar</button>
    </div>

  </form>
</div>

<!--Tabla de registros   -->

<div class="container contTable">
  <div class="row panelTable">
    <h3>EVENTOS DE FOGUEO</h3>
    <input id="filterEventFog" type="search" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar">
  </div>

  <table id="tblEventFogueo">
    <thead id="tHead">
      <tr id="lineTh">
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Estado del evento</th>
        <th>Fecha de inicio</th>
        <th>Fecha de finalizado</th>
        <th>Género</th>
        <th>Edad</th>
        <th>Peso</th>
        <th>Organizaciones beneficas</th>
        <th>Capacidad</th>
        <th>Horario</th>
        <th>Costo inscripción</th>
        <th>Lugar</th>
        <th>Ubicación</th>
        <th>Marca</th>
        <th>Empresa</th>
        <th>Tipo de patrocinador</th>
        <th>Logo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr id="lineTd" ng-repeat="eventFogueo in vm.eventsFogueo | filter:vm.nameFilter">
        <td>{{eventFogueo.name}}</td>
        <td>{{eventFogueo.phone}}</td>
        <td>{{eventFogueo.stateEvent}}</td>
        <td>{{eventFogueo.startDate | date}}</td>
        <td>{{eventFogueo.endDate | date}}</td>
        <td>{{eventFogueo.gender}}</td>
        <td>{{eventFogueo.age}}</td>
        <td>{{eventFogueo.weight}}</td>
        <td>{{eventFogueo.charities}}</td>
        <td>{{eventFogueo.capacity}}</td>
        <td>{{eventFogueo.schedule}}</td>
        <td>{{eventFogueo.costRegistration}}</td>
        <td>{{eventFogueo.place}}</td>
        <td>{{eventFogueo.location}}</td>
        <td>{{eventFogueo.brand}}</td>
        <td>{{eventFogueo.business}}</td>
        <td>{{eventFogueo.typeSponsor}}</td>
        <td>{{eventFogueo.selectFile}}</td>
        <td><input type="button" value="Editar" ng-click="vm.getInfo(eventFogueo)"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>  

</section>
