<section class="containEvent">
<h2>REGISTRO DE EVENTOS TORNEO</h2>

<div class="row">
  <form name="frmEvenTorneo" ng-submit="vm.save(vm.eventTorneo)" novalidate autocomplete="off">

    <div class="formLeft col-md-offset-2 col-md-4">

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Nombre</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventTorneo.name" name="name" required>
        <div ng-messages="frmEvenTorneo.name.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Teléfono</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventTorneo.phone" name="phone" required ng-pattern="/^[0-9]{8}$/">
        <div ng-messages="frmEvenTorneo.phone.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Estado del evento</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventTorneo.stateEvent" name="stateEvent" required>
        <div ng-messages="frmEvenTorneo.stateEvent.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Fecha de inicio</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="date" ng-model="vm.eventTorneo.startDate" name="startDate" required>
        <div ng-messages="frmEvenTorneo.startDate.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Fecha de finalizado</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="date" ng-model="vm.eventTorneo.endDate" name="endDate" required>
        <div ng-messages="frmEvenTorneo.endDate.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="col-md-12">
        <h6 class="col-md-4">Categorías</h6>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Género</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.eventTorneo.gender" name="gender" required>
          <option value="">---Indique la género---</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Indefinido">Indefinido</option>
          </select>
          <div ng-messages="frmEvenTorneo.gender.$error"><div ng-messages-include="components/includes/messages.html"></div>
          </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Edad</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.eventTorneo.age" name="age" required>
          <option value="">---Indique la edad---</option>
          <option value="junior">Infantil o Junior (4-11 años)</option>
          <option value="cadet">Cadete (12-16 años)</option>
          <option value="elite">Élite (17-23 años)</option>
          <option value="senior">Senior (23 años o más)</option>
        </select>
        <div ng-messages="frmEvenTorneo.age.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Peso</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.eventTorneo.weight" name="weight" required>
          <option value="">---Indique el peso---</option>
          <option value="il-Yang(pluma, 51kg)">il-Yang(pluma, 51kg)</option>
          <option value="i-Yang (gallo, 52 kg a 59 kg)">i-Yang (gallo,52 kg a 59 kg)</option>
          <option value="o-Yang (Supergallo, 60 kg a 65 kg)">o-Yang (Supergallo, 60 kg a 65 kg)</option>
          <option value="sam-Yang (Wélter, 66 kg a 74 kg)">sam-Yang (Wélter, 66 kg a 74 kg)</option>
          <option value="siu-Yang (Wélter, 74 kg)">siu-Yang (Wélter, 74 kg)</option>
        </select>
        <div ng-messages="frmEvenTorneo.weight.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Organizaciones beneficas</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventTorneo.charities" name="charities">
        <div ng-messages="frmEvenTorneo.charities.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

    </div>

    <div class="formRight col-sm-7 col-md-4">

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Capacidad</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventTorneo.capacity" name="capacity" required>
        <div ng-messages="frmEvenTorneo.capacity.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Horario</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventTorneo.schedule" name="schedule" required>
        <div ng-messages="frmEvenTorneo.schedule.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Costo de inscripción</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventTorneo.costRegistration" name="costRegistration" required>
        <div ng-messages="frmEvenTorneo.costRegistration.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Lugar</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.eventTorneo.place" name="place" required>
        <div ng-messages="frmEvenTorneo.place.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Ubicación</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.eventTorneo.location" name="location" required>
        <div ng-messages="frmEvenTorneo.location.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="col-xs-12 col-sm-12">
        <h6 class="col-md-4">Patrocinador</h6>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Marca</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.eventTorneo.brand" name="brand" required>
        <div ng-messages="frmEvenTorneo.brand.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Empresa</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.eventTorneo.business" name="business" required>
        <div ng-messages="frmEvenTorneo.business.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Tipo de patrocinador</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.eventTorneo.typeSponsor" name="typeSponsor" required>
        <div ng-messages="frmEvenTorneo.typeSponsor.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Seleccione un archivo (Logo)</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.eventTorneo.selectFile" name="selectFile" required>
        <div ng-messages="frmEvenTorneo.selectFile.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

    </div>

    <div class="col-xs-12">
      <h4 class="col-md-offset-7 col-md-2">* = Datos requeridos</h4>
    </div>

    <div class="col-md-12">
      <div class="col-md-6"></div>
      <button class="col-md-1" type="button" value="Actualizar" ng-click="vm.update(eventTorneo)" id="buttonAct">Actualizar</button>
      <button class="col-md-1" type="submit" ng-click="vm.reset()" ng-disabled="frmEvenTorneo.$invalid" id="buttonReg">Registrar</button>
    </div>
    
  </form>

</div>

<!--Tabla de registros   -->

<div class="container contTable">
  <div class="row panelTable">
    <h3>EVENTOS DE TORNEO</h3>
    <input id="filterEventTor" type="search" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar">
  </div>

  <table id="tblEventTorneo">
    <thead id="tHead">
      <tr id="lineTh">
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Estado del evento</th>
        <th>Fecha de inicio</th>
        <th>Fecha de finalizado</th>
        <th>Género</th>
        <th>Edad</th>
        <th>Peso</th>
        <th>Organizaciones beneficas</th>
        <th>Capacidad</th>
        <th>Horario</th>
        <th>Costo inscripción</th>
        <th>Lugar</th>
        <th>Ubicación</th>
        <th>Marca</th>
        <th>Empresa</th>
        <th>Tipo de patrocinador</th>
        <th>Logo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr id="lineTd" ng-repeat="eventTorneo in vm.eventsTorneo | filter:vm.nameFilter">
        <td>{{eventTorneo.name}}</td>
        <td>{{eventTorneo.phone}}</td>
        <td>{{eventTorneo.stateEvent}}</td>
        <td>{{eventTorneo.startDate | date}}</td>
        <td>{{eventTorneo.endDate | date}}</td>
        <td>{{eventTorneo.gender}}</td>
        <td>{{eventTorneo.age}}</td>
        <td>{{eventTorneo.weight}}</td>
        <td>{{eventTorneo.charities}}</td>
        <td>{{eventTorneo.capacity}}</td>
        <td>{{eventTorneo.schedule}}</td>
        <td>{{eventTorneo.costRegistration}}</td>
        <td>{{eventTorneo.place}}</td>
        <td>{{eventTorneo.location}}</td>
        <td>{{eventTorneo.brand}}</td>
        <td>{{eventTorneo.business}}</td>
        <td>{{eventTorneo.typeSponsor}}</td>
        <td>{{eventTorneo.selectFile}}</td>
        <td><input type="button" value="Editar" ng-click="vm.getInfo(eventTorneo)"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>  

</section>
