<section class="containEvent">
<h2>REGISTRO DE EVENTOS EXHIBICIÓN</h2>

<div class="row">

  <form name="frmEvent" ng-submit="vm.preSave(vm.event)" novalidate autocomplete="off">

    <div class="formLeft col-md-offset-2 col-md-4">

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Nombre</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.event.name" name="name" required>
        <div ng-messages="frmEvent.name.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Teléfono</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.event.phone" name="phone" required ng-pattern="/^[0-9]{8}$/">
        <div ng-messages="frmEvent.phone.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Estado del evento</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.event.stateEvent" name="stateEvent" required>
        <div ng-messages="frmEvent.stateEvent.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Fecha de inicio</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="date" ng-model="vm.event.startDate" name="startDate" required>
        <div ng-messages="frmEvent.startDate.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Fecha de finalizado</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="date" ng-model="vm.event.endDate" name="endDate" required>
        <div ng-messages="frmEvent.endDate.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="col-md-12">
        <h6 class="col-md-4">Categorías</h6>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Género</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.event.gender" name="gender" required>
          <option value="">---Indique la género---</option>
          <option value="male">Masculino</option>
          <option value="female">Femenino</option>
        </select>
        <div ng-messages="frmEvent.gender.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Edad</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.event.age" name="age" required>
          <option value="">---Indique la edad---</option>
          <option value="junior">Infantil o Junior (4-11 años)</option>
          <option value="cadet">Cadete (12-16 años)</option>
          <option value="elite">Élite (17-23 años)</option>
          <option value="senior">Senior (23 años o más)</option>
        </select>
        <div ng-messages="frmEvent.age.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Peso</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.event.weight" name="weight" required>
          <option value="">---Indique el peso---</option>
          <option value="junior">il-Yang(pluma, 51kg)</option>
          <option value="cadet">i-Yang (gallo, 52 kg a 59 kg)</option>
          <option value="elite">o-Yang (Supergallo, 60 kg a 65 kg)</option>
          <option value="seniorSan">sam-Yang (Wélter, 66 kg a 74 kg)</option>
          <option value="seniorSiu">siu-Yang (Wélter, 74 kg)</option>
        </select>
        <div ng-messages="frmEvent.weight.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Invitados especiales</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.event.specialGuests" name="specialGuests" required>
        <div ng-messages="frmEvent.specialGuests.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Organizaciones beneficas</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.event.charities" name="charities">
        <div ng-messages="frmEvent.charities.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

    </div>

    <div class="formRight col-sm-7 col-md-4">

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Capacidad</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.event.capacity" name="capacity" required>
        <div ng-messages="frmEvent.capacity.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Horario</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.event.schedule" name="schedule" required>
        <div ng-messages="frmEvent.schedule.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Costo de inscripción</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.event.costRegistration" name="costRegistration" required>
        <div ng-messages="frmEvent.costRegistration.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Lugar</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.event.place" name="place" required>
        <div ng-messages="frmEvent.place.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Ubicación</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.event.location" name="location" required>
        <div ng-messages="frmEvent.location.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="col-md-12">
          <h6 class="col-md-4">Patrocinador</h6>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Marca</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.event.brand" name="brand" required>
        <div ng-messages="frmEvent.brand.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Empresa</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.event.business" name="business" required>
        <div ng-messages="frmEvent.business.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Tipo de patrocinador</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="type" ng-model="vm.event.typeSponsor" name="typeSponsor" required>
            <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <div class="form-group col-xs-12 col-sm-12" layout-gt-sm="row">
        <md-input-container class="md-block">
          <label class="col-xs-3 col-sm-4 col-md-4">Producto</label>
          <input class="col-xs-5 col-sm-4 col-md-5" type="file" ng-model="vm.photo" name="photo" id="photo" >
        </md-input-container>
      </div>

    </div>

    <div class="col-xs-12">
      <h4 class="col-md-offset-7 col-md-2">* = Datos requeridos</h4>
    </div>

    <div class="col-md-12">
      <div class="col-md-6"></div>
      <button class="col-md-1" type="button" value="Actualizar" ng-click="vm.update(event)" id="buttonAct">Actualizar</button>
      <button class="col-md-1" type="submit" ng-click="vm.reset()" ng-disabled="frmEvent.$invalid" id="buttonReg">Registrar</button>
    </div>

  </form>

</div>


<!--Tabla de registros   -->

<div class="container contTable">
  <div class="row panelTable">
    <h3>EVENTOS DE EXHIBICION</h3>
    <input id="filterEventEx" type="search" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar">
  </div>

  <table class="table">
    <thead id="tHead">
      <tr id="lineTh">
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Estado del evento</th>
        <th>Fecha de inicio</th>
        <th>Fecha de finalizado</th>
        <th>Género</th>
        <th>Edad</th>
        <th>Peso</th>
        <th>Invitados especiales</th>
        <th>Organizaciones beneficas</th>
        <th>Capacidad</th>
        <th>Horario</th>
        <th>Costo inscripción</th>
        <th>Lugar</th>
        <th>Ubicación</th>
        <th>Marca</th>
        <th>Empresa</th>
        <th>Tipo de patrocinador</th>
        <th>Logo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr id="lineTd" ng-repeat="event in vm.events | filter:vm.nameFilter">
        <td>{{event.name}}</td>
        <td>{{event.phone}}</td>
        <td>{{event.stateEvent}}</td>
        <td>{{event.startDate | date}}</td>
        <td>{{event.endDate | date}}</td>
        <td>{{event.gender}}</td>
        <td>{{event.age}}</td>
        <td>{{event.weight}}</td>
        <td>{{event.specialGuests}}</td>
        <td>{{event.charities}}</td>
        <td>{{event.capacity}}</td>
        <td>{{event.schedule}}</td>
        <td>{{event.costRegistration}}</td>
        <td>{{event.place}}</td>
        <td>{{event.location}}</td>
        <td>{{event.brand}}</td>
        <td>{{event.business}}</td>
        <td>{{event.typeSponsor}}</td>
        <td><img ng-src="{{event.photo}}" alt="Description" width="40px" height="60px" /></td>
        <td><input type="button" value="Editar" ng-click="vm.getInfo(event)"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
