<nav class="navbar navbar-default" id="contNav"role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Ranking</a></li>
      <li><a href="#">Eventos</a></li>
      <li><a href="#">Patrocinadores</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Iniciar Sesion</a></li>
      <div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control navbar-right" placeholder="Search" name="q">
        </div>
        </form>
    </div>
    </ul>

  </div>
</nav>
<section class="reserve">
  <div class="reserveText">
    <h2>FEDERACION COSTARRICENSE DE TAEKWONDO</h2>
    <h3>Fomentando el deporte</h3>
  </div>
</section>

<section class="col-md-12 aboutAs">
  <h2 class="col-xs-12 col-lg-offset-4 col-md-4">Sobre nosotros</h2>
  <p class="col-xs-12 col-lg-offset-1 col-md-10">Somos una organizacion costarricense en la disciplina del Taekwondo y nuestro objetivo es masificar , promover y preparar a los atletas en todos sus niveles , tanto en sus conocimientos técnicos y alta competencia como en valores personales en un ambiente que contribuya a aumentar su calidad de vida</p>
</section>

<section class="container rankingPodio">
  <div class="row">


    <h2>Ranking</h2>
    <h3>Manténgase al tanto de sus competidores favoritos</h3>

    <div class="col-md-12 podios">

      <div class="col-md-2 contPodio1">
        <div class="podio1">
          <a href="#">1</a>
        </div>
        <h2>Maria Eugenia</h2>
      </div>

      <div class="col-md-2 contPodio2">
        <div class="podio2">
          <a href="#">2</a>
        </div>
      </div>

      <div class="col-md-2 contPodio3">
        <div class="podio3">
          <a href="#">3</a>
        </div>
      </div>

    </div>
  </div>
</section>
