<section class="containTeacher">
<h2>REGISTRO DE PROFESORES</h2>

<div class="row">
  <form name="frmTeacher" ng-submit="vm.save(vm.teacher)" novalidate autocomplete="off">

    <div class="formLeft col-md-offset-2 col-md-4">

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Cédula</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.teacher.id" name="id" required ng-pattern="/^[0-9]{9,14}$/">
        <div ng-messages="frmTeacher.id.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Nombre</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.teacher.name" name="name" required>
        <div ng-messages="frmTeacher.name.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Segundo nombre</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.teacher.secondName" name="secondName" required>
        <div ng-messages="frmTeacher.secondName.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Primer apellido</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.teacher.surName" name="surName" required>
        <div ng-messages="frmTeacher.surName.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Segundo apellido</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.teacher.secondSurName" name="secondSurName" required>
        <div ng-messages="frmTeacher.secondSurName.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Género</label>
        <select class="col-xs-5 col-sm-4 col-md-5" ng-model="vm.teacher.genre" name="genre" required>
          <option value="">---Indique el género---</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Indefinido">Indefinido</option>
        </select>
        <div ng-messages="frmTeacher.genre.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

    </div>

    <div class="formRight col-sm-7 col-md-4">

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Fecha de nacimiento</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="date" ng-model="vm.teacher.birthDate" name="birthDate" required>
        <div ng-messages="frmTeacher.birthDate.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Dirección de domicilio</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.teacher.address" name="address" required>
        <div ng-messages="frmTeacher.address.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Estado civil</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.teacher.civilStatus" name="civilStatus" required>
        <div ng-messages="frmTeacher.civilStatus.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Teléfono</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.teacher.phone" name="phone" required ng-pattern="/^[0-9]{8}$/">
        <div ng-messages="frmTeacher.phone.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

      <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Correo electrónico</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.teacher.email" name="email" > 
        <div ng-messages="frmTeacher.email.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

       <!-- input -->
      <div class="form-group col-xs-12 col-sm-12">
        <label class="col-xs-3 col-sm-4 col-md-4">Academia a la que pertenece</label>
        <input class="col-xs-5 col-sm-4 col-md-5" type="text" ng-model="vm.teacher.academyBelongs" name="academyBelongs" required> 
        <div ng-messages="frmTeacher.academyBelongs.$error">
          <div ng-messages-include="components/includes/messages.html"></div>
        </div>
      </div>

    </div>

    <div class="col-xs-12">
      <h4 class="col-md-offset-7 col-md-2">* = Datos requeridos</h4>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-md-6"></div>
      <button class="col-md-1" type="button" value="Actualizar" ng-click="vm.update(teacher)" id="buttonAct">Actualizar</button>
      <button class="col-md-1" type="submit" ng-click="vm.reset()" ng-disabled="frmTeacher.$invalid" id="buttonReg">Registrar</button>
    </div>

  </form>
</div>

<!--Tabla de registros   -->

<div class="container contTable">
  <div class="row panelTable">
    <h3>PROFESORES</h3>
    <input id="filterTeacher" type="search" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar">
  </div>

  <table id="tblTeacher">
    <thead id="tHead">
      <tr id="lineTh">
        <th>Nombre</th>
        <th>Segundo nombre</th>
        <th>Primer apellido</th>
        <th>Segundo apellido</th>
        <th>Género</th>
        <th>Fecha de nacimiento</th>
        <th>Cédula</th>
        <th>Dirección de domicilio</th>
        <th>Estado civil</th>
        <th>Teléfono</th>
        <th>Correo electrónico</th>
        <th>Academia a la que pertenece</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="teacher in vm.teachers | filter:vm.nameFilter">
        <td>{{teacher.name}}</td>
        <td>{{teacher.secondName}}</td>
        <td>{{teacher.surName}}</td>
        <td>{{teacher.secondSurName}}</td>
        <td>{{teacher.genre}}</td>
        <td>{{teacher.birthDate | date}}</td>
        <td>{{teacher.id}}</td>
        <td>{{teacher.address}}</td>
        <td>{{teacher.civilStatus}}</td>
        <td>{{teacher.phone}}</td>
        <td>{{teacher.email}}</td>
        <td>{{teacher.academyBelongs}}</td>
        <td><input type="button" value="Editar" ng-click="vm.getInfo(teacher)"></td>
      </tr>
    </tbody>
  </table>
